# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage*.out
coverage-merged.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# LocalCA specific
certs/
data/
cakey.txt
*.p12
/data

# Next.js
/node_modules
/.next
/.pnp
.pnp.js
.swc/

# Testing
/coverage
/eslint-report.xml
/govet-report.out
/golint-report.out
/golangci-lint-report.xml

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
